<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0">
	
	<name>Sala Fácil</name>
	
	<description>
        Sala Fácil (EasyRoom) is a easy way to request a room at your organization.
    </description>

	<gap:plugin name="com.phonegap.plugins.barcodescanner" />
	<gap:platform name="android" />
</widget>